<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Formulir</h1>
    <form method = "POST" action = "http://localhost:2000/form">
        <p>Nama<input type = "text" name = "nama"></p>
        <p>Usia<input type = "number" name = "usia"></p>
        <p><input type = "submit" value = "Kirim"></p>
    </form>
</body>
</html>